.full-heigh {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  height: 65px;
}

.navbar-toggler {
  border: none;
}

.main-menu {
  border-radius: 0;
  color: rgb(79, 79, 79);
  position: fixed;
  height: 100%;
}

.main-menu .bottom-option {
  position: absolute;
  bottom: 0;
}

.main-menu .list-group-item {
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
}

.main-menu .list-group-item.active {
  background: rgba(226, 226, 226, 0.588);
  font-weight: bolder;
  color: rgb(41, 41, 41);
}

.main-menu .list-group-item-dark {
  background: none;
  color: white;
}

.main-menu .nav-link {
  display: inline-block;
}

.card {
  border: none;
}

.card .full-image {
  object-fit: cover;
  height: 100%;
}

.card .card-body {
  padding: 10px;
}

.card .card-body .card-title {
  font-size: 16px;
}

.ratings .rating-star {
  color: rgb(255, 190, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
  margin-right: 2px;
}

.ratings .rating-points {
  margin: 0 7px;
}

.categories span {
  margin-right: 7px;
}

.next-suggestions li {
  padding-left: 0;
}

input.bg-dark::placeholder {
  color: grey !important;
  opacity: 1;
}

.card.active {
  background: #eeeeee !important;
}

.card.bg-dark.active {
  background: #383838 !important;
  color: #dbdbdb !important;
}

.card.bg-dark.active .text-secondary {
  color: #c9c9c9 !important;
}

.main-class-list-item {
  padding: 5px 10px;
  border-radius: 5px;
}

.main-class-list-item.active {
  background: #eeeeee !important;
  color: #292929;
}

.class-details a {
  color: rgb(0, 162, 255);
  text-decoration: underline;
}

.layout-column {
  height: calc(100vh - 65px - 1.5rem);
  overflow-y: scroll;
  padding-bottom: 1.5em;
}

@media (max-width: 990px) {
  .navbar-collapse {
    padding: 20px;
    position: absolute;
    width: 100vw;
    background: #f8f9fa;
    top: 65px;
    left: 0;
    text-align: center;
    z-index: 1000;
  }

  .navbar-collapse a {
    margin-top: 20px;
  }

  .horizontal-card img {
    width: 100%;
    aspect-ratio: 2 / 1g;
  }
}
