.full-heigh {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-toggler {
  border: none;
}

.main-menu {
  border-radius: 0;
  color: rgb(79, 79, 79);
  position: fixed;
  height: 100%;
}

.main-menu .bottom-option {
  position: absolute;
  bottom: 0;
}

.main-menu .list-group-item {
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
}

.main-menu .list-group-item.active {
  background: rgba(226, 226, 226, 0.588);
  font-weight: bolder;
  color: rgb(41, 41, 41);
}

.main-menu .list-group-item-dark {
  background: none;
  color: white;
}

.main-menu .nav-link {
  display: inline-block;
}

.card {
  border: none;
}

.card .full-image {
  object-fit: cover;
  height: 100%;
}

.card .card-body {
  padding: 10px;
}

.card .card-body .card-title {
  font-size: 16px;
}

.ratings .rating-star {
  color: rgb(255, 190, 12);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0px;
  margin-right: 2px;
}

.ratings .rating-points {
  margin: 0 7px;
}

.categories span {
  margin-right: 7px;
}

.next-suggestions li {
  padding-left: 0;
}

input.bg-dark::placeholder {
  color: grey !important;
  opacity: 1;
}

.card.active {
  background: #eeeeee !important;
}

.card.bg-dark.active {
  background: #939496 !important;
  color: #292929 !important;
}

.card.bg-dark.active .text-secondary {
  color: #292929 !important;
}

.main-class-list-item {
    padding: 5px 10px;
    border-radius: 5px;
}

.main-class-list-item.active {
    background: #eeeeee !important;
    color: #292929;
}

.class-details a {
    color: rgb(0, 162, 255);
    text-decoration: underline;
}